/* 
This css sheet is linked to practice.html
You can style tags, classes (.) or ids (#) from this file.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

h4{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}

p{
    font-family: 'Montserrat', sans-serif;  
    color: #333;
    font-size: 12px;
}

.navbar{
    background-color: white;
    padding-left: 20px;
}

.homehero{
    display: block;
    background-image: url("../images/flowershop.jpg");
    height: 50vh;
    background-size: cover;
}

.homehero-layer{
    background-color: rgba(0, 0, 0, 0.6);
    height: 50vh;
}

.homehero-text{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.button{
    background-color: yellowgreen;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20% / 50%;
}

.usp{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px ;
    padding: 5% 20%;
    background-color: #cee7b4;
      }

.icon{
    text-align: center;
}

.items{
    text-align: center;   
}

@media (max-width: 600px) {
    .usp{ 
        grid-template-columns: 1fr 2fr;
}
}