*{  margin:0;
    padding: 0;
    font-family: 'Hahmlet', serif;
  }
  header,section,footer {
    margin: 0px;
  }
  header {
    background-color: white;
    overflow: hidden;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  .item{
    display:flex;
    align-items: center;
    width: 350px;
  }
  /* .container{
    position: relative;
  } */
  #background{
    /*..去上一層，因css與這張相在不同file*/
    background-image: url('../images/flowershop.jpg'); 
    background-size: cover;
    width:100%;
    aspect-ratio: 6/4;
    /* 要aspect ratio或height 因div本身冇高度，否則只會fit content */
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color:rgb(105, 102, 102);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #shopname{
    font-size:  80px;
    color: white;
    text-align: center;
    /* top: 50%;
    position: relative; */
  }
  #learnmore{
    background-color: #33FFC8;
    border: none;
    color: white;
    /* padding: 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 12px;
    height: 100px;
    width: 70px;
    /* top: 60%;
    bottom: 30%; */
    /* left: 50%;
    right: 50%;
    position: absolute; */
  }
  #info{
  background-color: #33FFC8;
  }
  #row1{
    display: flex;
    justify-content: space-around;
  }
  #row2{
    display: flex;
    justify-content: space-around;
  }
  
  