/* 
This css sheet is linked to practice.html
You can style tags, classes (.) or ids (#) from this file.
*/
body{
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    padding-left: 20px;
    height: 5vh;
    padding-bottom: 10px;
}
section{
    background-image: url("../images/flowershop.jpg");
    background-size: cover;
    height: 60vh;
}
section div{
   height: 100%;
   background-color: black;
   opacity: 0.7;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
section div h1{
    font-size: 50px;
    color: white;
    text-align: center;
}
section div a{
    color: white;
    width: 100px;
    text-decoration: none;
    background-color: yellowgreen;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 20px;
    margin-left: 48%;
}
footer{
    background-color: rgb(205, 243, 147);
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
footer div{
    padding: 20px 20px 20px 20px;
}
