.box{
    height:100px;
    width:100px;
}
.blue{
    float:left;
    background-color:blue;
}
.red{
    margin:0 auto;
    clear:both;
    background-color:red;
}
.green{
    float:right;
    background-color:green;
}

