/* 
This css sheet is linked to index.html
You can style tags, classes (.) or ids (#) from this file.
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .blue {
    float: left;
    height: 200px;
    width: 200px;
    background-color: #3214f5;    /* Blue */
  }
  
  .green{
    float: right;
    height: 200px;
    width: 200px;
    background-color: #15cb5b;    /* green */
  }
  
  .red{
    position: fixed;
    top: 45%;
    left: 45%;
    height: 200px;
    width: 200px;
    background-color: #f20606;    /* red */
  }