/* 
This css sheet is linked to index.html
You can style tags, classes (.) or ids (#) from this file.
*/
.blocks {
  height: 100px;
  width: 100px;
}
.blue {
  background-color: blue;
  float: left;
}
.green {
  background-color: green;
  float: right;
}
.red {
  background-color: red;
  clear: both;
  display: block;
  margin: auto;
}
