/* 
This css sheet is linked to index.html
You can style tags, classes (.) or ids (#) from this file.
*/

#flex{
    display: flex;
    flex-direction: column;
}


#flexblue{
    background-color: blue;
    width:200px;
    height: 200px;
}

#flexgreen{
    background-color:green;
    width:200px;
    height: 200px;
    

}
#flexred{
    background-color:red;
    width:200px;
    height: 200px;
}