/* 
This css sheet is linked to index.html
You can style tags, classes (.) or ids (#) from this file.
*/
.container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 300px;
}
.blueBox{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.greenBox{
    width: 100px;
    height: 100px;
    background-color: green;
}

.redBox{
    width: 100px;
    height: 100px;
    background-color: red;
    align-self: end;
}