* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  .hero-section{
  background: rgba(0,0,0,0.5) url(/Exercise_D_E/assets/images/flowershop.jpg);
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 500px;
  }

h1 {
  color: white;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 30px;
}

button {
  background-color: lightgreen;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 25px;
  display: flex;
  padding: 10px 25px;
  margin: auto;
}

.container {
  width: 100%; 
  background-color: #cce5b2;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-weight: 500;
  font-size: 14px;
  display: grid;
  
}

.row {
  width: 100%;
}

.box {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 30px;

}

.icon-img {
  width: 60px;
  margin-bottom: 10px;
}