/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    color: aliceblue;
    width: 100%;
    height: 60px;
}

.background {
    background-image: url(/Exercise_D_E/assets/images/flowershop.jpg);
    height: 720px;
    width: 100%;
    filter: brightness(40%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.background h1 {
    color: white;
    font-size: large;
    filter: brightness(100%);
}

.background button {
    color: white;
    background-color: green;
    border-radius: 25px;
}

.info {
    background-color: rgba(172, 255, 47, 0.363);
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
}


.flowers {
    position: absolute;
    top: 0;
    left: 0;
    padding: 200px;
}

.payments {
    position: absolute;
    top: 0;
    right: 0;
    padding: 200px;
}

.phone {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 200px;
}

.delivery {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 200px;
}