/* 
This css sheet is linked to practice.html
You can style tags, classes (.) or ids (#) from this file.
*/
 * {
     margin: 0;
     padding: 0;
 }

header {
  background-color: white;
  height: 100%;
  width: 100vw;
  margin-left: 70px;
}

.hero_image {
  background-image: url('/Exercise_D&E/assets/images/flowershop.jpg');
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero_text {
  size: 800px;
  font-family: sans-serif;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
}

button {
  font-size: 30px;
  color: cornsilk;
  background-color: #7ed321;
  border: none;
  /* border-radius: 30px; */
  height: 50px;
  /* width: 150px; */
  border-radius: 20px !important;
}

.icons_bg {
  background-color: #cfe4ba;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  margin: 20px;
}

@media only screen and (max-width: 700px) {
  .icon {
    width: 70vw;
    flex-direction: column;
    height: 300px;
  }

  .icon img {
    height: 120px;
  }

  .icon p {
    font-size: 22px;
    width: 60vw;
  }
}
